<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Identification
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>

	<body>

		<section class="vh-100">
			<div class="container-fluid">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-md-9 col-lg-6 col-xl-5 text-center">


						<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">

						<svg style="width: 150px" xmlns=" http://www.w3.org/2000/svg" xmlns:xlink=" http://www.w3.org/1999/xlink" viewbox=" 0 0 204 73">
							<defs>
								<filter id="Gest-IT" x="0" y="0" width="204" height="73" filterunits="userSpaceOnUse">
									<feOffset dy="3" input="SourceAlpha"/>
									<feGaussianBlur stddeviation="3" result="blur"/>
									<feFlood flood-opacity="0.161"/>
									<feComposite operator="in" in2="blur"/>
									<feComposite in="SourceGraphic"/>
								</filter>
							</defs>
							<g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Gest-IT)">
								<text id="Gest-IT-2" data-name="Gest-IT" transform="translate(10 50)" fill="#1a54b5" stroke="rgba(255,254,254,0.24)" stroke-width="1" font-size="40" font-family="LeelawadeeUI-Bold, Leelawadee UI" font-weight="700" letter-spacing="0.15em">
									<tspan x="0" y="0">GEST-IT</tspan>
								</text>
							</g>
						</svg>

					</div>
					<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">


						<form method="post">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-3">
									Vous êtes identifié(e)s en tant que
									{{ app.user.username }},
									<a href="{{ path('app_logout') }}">Déconnexion</a>
								</div>
							{% endif %}

							<h1 class="h3 mb-3 font-weight-normal text-center">Ouvrir votre session</h1>
							<p class="mb-5 text-muted text-center">Accéder à votre tableau de bord personnel</p>

							<div class="form-outline mb-4 text-left">
								<label class="form-label" for="inputUsername">Identifiant</label>
								<input type="text" value="{{ last_username }}" name="username" id="inputUsername" autocomplete="username" class="form-control w-100" placeholder="Entrez votre identifiant" required autofocus>
							</div>

							<div class="form-outline mb-3">
								<label class="form-label" for="inputPassword">Mot de passe</label>
								<input type="password" name="password" id="inputPassword" class="form-control w-100" autocomplete="current-password" placeholder="Entrez votre mot de passe" required>
							</div>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


							<button class="btn w-100 btn-primary mt-4" type="submit">
								Connexion
							</button>


							<div class="text-center text-lg-start mt-4 pt-2">
								<p class="small fw-bold mt-2 pt-1 mb-0">Vous n'avez pas encore de compte ?
									<a href="#!" class="link-danger">Enregistrez-vous</a>
								</p>
							</div>

						</form>
						{% block javascripts %}
							{{ encore_entry_script_tags('app') }}
						{% endblock %}
					</div>
				</div>
			</div>
		</section>

	</body>
</html>
