{% extends 'base.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}

{% block body %}

	<!-- Container -->
	<div
		class="container-fluid mx-auto" style="width: 100%; max-width: 1200px;">

		<!-- Dashboard title -->
		<h1 class="text-center text-uppercase text-primary mt-5 mb-3">Tableau de bord</h1>
		<div class="d-flex justify-content-center">
			<div class="text-center alert alert-primary mb-5" role="alert">
				1 liste(s) en cours | 0 terminée(s)
			</div>
		</div>
		<!-- End dashboard title -->


		<!-- List and task resume -->
		<div class="accordion accordion-flush" id="accordionFlushExample">
			{% for list in lists %}
				{% for task in tasks %}
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingOne">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
								{{ list.label }}
							</button>
							<div class="progress text-center">
								<div class="progress-bar progress-bar-striped bg-{{ list.color }}" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</h2>
						<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
							<div class="accordion-body">
								<p class="text-justify text-secondary">{{ list.description }}</p>
								<ul class="list-group" style="width: 100%">
									<li class="list-group-item d-flex align-items-center justify-content-between">
										<div>
											<input class="form-check-input me-1" type="checkbox" value="{{ task.status }}" aria-label="...">
											{{ task.label }}
										</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil mx-3" viewbox="0 0 16 16">
												<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
											</svg>
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash mx-3" viewbox="0 0 16 16">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
												<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
											</svg>
										</div>
									</li>
								</ul>
								<p class="my-3">
									<a href="#">Modifier la liste</a>
									<a href="#" class="px-3">Supprimer la liste</a>
								</p>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endfor %}

		</div>
		<!-- End list and task resume -->
		<div class="d-flex justify-content-center mt-5">
			{% do lists.setPageRange(2) %}
			{{ knp_pagination_render(lists, 'base/pagination.html.twig') }}
		</div>
	</div>
	<!-- End container -->

{% endblock %}
