<footer
	class="bg-wight text-left text-lg-start bottom-0 mt-5">
	<!-- Illustration -->
	<div class="container-fluid mx-auto" style="width: 100%; max-width: 1200px;">

		<img src="/images/footer-illustration.png" class="text-left" style="width: 200px;" alt="Illustration pied-de-page">

	</div>
</footer>
