<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-wight border-bottom">
	<div
		class="container-fluid mx-auto" style="width: 100%; max-width: 1200px;">


		<!-- Brand -->
		<a class="navbar-brand" href="{{ path('app_home') }}">
			<svg style="width: 150px" xmlns=" http://www.w3.org/2000/svg" xmlns:xlink=" http://www.w3.org/1999/xlink" width=" 204" height=" 73" viewbox=" 0 0 204 73">
				<defs>
					<filter id="Gest-IT" x="0" y="0" width="204" height="73" filterunits="userSpaceOnUse">
						<feOffset dy="3" input="SourceAlpha"/>
						<feGaussianBlur stddeviation="3" result="blur"/>
						<feFlood flood-opacity="0.161"/>
						<feComposite operator="in" in2="blur"/>
						<feComposite in="SourceGraphic"/>
					</filter>
				</defs>
				<g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#Gest-IT)">
					<text id="Gest-IT-2" data-name="Gest-IT" transform="translate(10 50)" fill="#1a54b5" stroke="rgba(255,254,254,0.24)" stroke-width="1" font-size="40" font-family="LeelawadeeUI-Bold, Leelawadee UI" font-weight="700" letter-spacing="0.15em">
						<tspan x="0" y="0">GEST-IT</tspan>
					</text>
				</g>
			</svg>
		</a>

		<!-- Toggler -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collapse -->
		<div
			class="collapse navbar-collapse" id="navbarSupportedContent">

			<!-- Navigation -->
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
				<li class="nav-item px-3">
					<a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Tableau de bord</a>
				</li>
				<li class="nav-item px-3">
					<a class="nav-link" href="{{ path('app_create_list') }}">Créer une liste</a>
				</li>
				<li class="nav-item px-3">
					<a class="nav-link" href="{{ path('app_create_task') }}">Créer une tâche</a>
				</li>
			</ul>

			<!-- Sign out -->
			<form class="d-flex">
				<button type="button" class="btn btn-outline-primary">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewbox="0 0 16 16">
						<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
						<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
					</svg>
					Déconnexion
				</button>
			</form>
		</div>
	</div>
</nav>
